In [90]:
import numpy as np
import pandas as pd
import talib
from sklearn.model_selection import train_test_split

In [91]:
import random
random.seed(42)

In [92]:
dataset = pd.read_csv('C://Greece_EQ_Euro_wDS_AIR_CT19.csv')

In [93]:
dataset

        Loss  Magnitude  FocalDepth  Longitude  Latitude    Rate
0        0.0       5.59        21.6     56.854    28.363  0.0001
1        0.0       5.22        13.7    -29.652    49.738  0.0001
2        0.0       5.02         4.6     23.078    34.703  0.0001
3        0.0       5.60        24.3    -10.544    30.328  0.0001
4        0.0       5.50         2.7     19.881    37.587  0.0001
...      ...        ...         ...        ...       ...     ...
817246   0.0       5.20         5.0    -44.213    27.002  0.0001
817247   0.0       5.16        13.3     10.110    45.196  0.0001
817248   0.0       5.15        60.3     48.142    33.263  0.0001
817249   0.0       5.40       114.9     24.971    36.428  0.0001
817250   0.0       5.29        11.9     28.491    38.403  0.0001

[817251 rows x 6 columns]

In [94]:
dataset.drop('Rate',axis=1, inplace= True)
dataset

        Loss  Magnitude  FocalDepth  Longitude  Latitude
0        0.0       5.59        21.6     56.854    28.363
1        0.0       5.22        13.7    -29.652    49.738
2        0.0       5.02         4.6     23.078    34.703
3        0.0       5.60        24.3    -10.544    30.328
4        0.0       5.50         2.7     19.881    37.587
...      ...        ...         ...        ...       ...
817246   0.0       5.20         5.0    -44.213    27.002
817247   0.0       5.16        13.3     10.110    45.196
817248   0.0       5.15        60.3     48.142    33.263
817249   0.0       5.40       114.9     24.971    36.428
817250   0.0       5.29        11.9     28.491    38.403

[817251 rows x 5 columns]

In [95]:
dataset.drop('Loss',axis=1, inplace= True)
dataset

        Magnitude  FocalDepth  Longitude  Latitude
0            5.59        21.6     56.854    28.363
1            5.22        13.7    -29.652    49.738
2            5.02         4.6     23.078    34.703
3            5.60        24.3    -10.544    30.328
4            5.50         2.7     19.881    37.587
...           ...         ...        ...       ...
817246       5.20         5.0    -44.213    27.002
817247       5.16        13.3     10.110    45.196
817248       5.15        60.3     48.142    33.263
817249       5.40       114.9     24.971    36.428
817250       5.29        11.9     28.491    38.403

[817251 rows x 4 columns]

In [96]:

X = dataset[['Magnitude', 'FocalDepth','Longitude' ,'Latitude']]
y = dataset[['Loss']]

KeyError: "None of [Index(['Loss'], dtype='object')] are in the [columns]"

In [76]:

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [77]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# Building the Artificial Neural Network

In [78]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

In [79]:
classifier = Sequential()

In [80]:
classifier.add(Dense(units = 128, kernel_initializer = 'uniform', activation = 'relu', input_dim = X.shape[1]))

In [81]:
classifier.add(Dense(units = 128, kernel_initializer = 'uniform', activation = 'relu'))

In [82]:
classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

In [83]:
classifier.compile(optimizer = 'adam', loss = 'mean_squared_error', metrics = ['accuracy'])

In [84]:
history= classifier.fit(X_train, y_train, batch_size = 5, epochs = 10)

Epoch 1/10
65380/65380 [==============================] - 118s 2ms/step - loss: 152341029700239360.0000 - accuracy: 0.3815
Epoch 2/10
65380/65380 [==============================] - 113s 2ms/step - loss: 152340359685341184.0000 - accuracy: 0.6386
Epoch 3/10
65380/65380 [==============================] - 110s 2ms/step - loss: 152340153526910976.0000 - accuracy: 0.5821
Epoch 4/10
65380/65380 [==============================] - 117s 2ms/step - loss: 152341287398277120.0000 - accuracy: 0.6699
Epoch 5/10
65380/65380 [==============================] - 119s 2ms/step - loss: 152337525006925824.0000 - accuracy: 0.5829
Epoch 6/10
65380/65380 [==============================] - 112s 2ms/step - loss: 152340995340500992.0000 - accuracy: 0.6090
Epoch 7/10
65380/65380 [==============================] - 113s 2ms/step - loss: 152340428404817920.0000 - accuracy: 0.6262
Epoch 8/10
65380/65380 [==============================] - 112s 2ms/step - loss: 152338332460777472.0000 - accuracy: 0.6416
Epoch 9/10
65380/65380 [==============================] - 112s 2ms/step - loss: 152340153526910976.0000 - accuracy: 0.6285
Epoch 10/10
65380/65380 [==============================] - 116s 2ms/step - loss: 152341819974221824.0000 - accuracy: 0.6009

In [85]:
classifier.evaluate(X_test, y_test)

5108/5108 [==============================] - 9s 2ms/step - loss: 171855711825821696.0000 - accuracy: 0.4785

[1.718557118258217e+17, 0.47848591208457947]

In [87]:
y_pred = classifier.predict(X_test)
print(y_test)

            Loss
392439       0.0
117976       0.0
813469       0.0
774851       0.0
157332  475527.0
...          ...
211301       0.0
353381       0.0
241179       0.0
172408       0.0
733613       0.0

[163451 rows x 1 columns]

In [88]:
y_pred

array([[1.],
       [1.],
       [0.],
       ...,
       [0.],
       [0.],
       [0.]], dtype=float32)

In [89]:
acc= history.history['accuracy']
val_acc=history.history['val_accuracy']

plt.plot(epochs,acc, 'y', label= 'Training acc')
plt.plot(epochs, val_acc,'r', label= 'validation acc')
plt.title('Training and validation accuracy')
plt.xlabel('epochs')
plt.ylabel('accuracy')
plt.legend()
plt.show()

KeyError: 'val_accuracy'

In [ ]:
X=dataset.values[:,1:5]
y=dataset.values[:,0]